.logo {
  background-image: url(../assets/images/logo.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 50px;
  height: 50px;
}

.header-nav {
  /* background-color: rgb(152, 150, 150); */
  position: fixed;
  height: 60px;
  top: 0;
  width: 100%;
  /* z-index: 30; */
  opacity: 0.9;
}
li:hover{
  background-color: #EEE8AA;
border-radius: 3px;
}
