.home-page{ 
    /* position: fixed; */
  
    /* border: 1px solid red; */
}
.banner-image{
    height: 70vh;
    /* border: 1px solid black; */
}
img{
    /* height:; */
    height:70vh; 
    width:100%;
    object-fit: cover;
}

.hunger{
    background-image: url(../assets/images/hunger.jpg);
    background-position: center;
    background-repeat: no-repeat;
}
video {
    object-fit:fill;
    width: 80vw;
    height: 50vh;
    margin-left: 9vw;
  }